<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Learn now</button>
        </div>
        <div class="col-lg-3">
            <h2>{{course.name}}</h2>
            <img src="{{course.image}}" alt="" style="width: 50%">
            <p>{{course.description}}</p>
        </div>
    </div>
</div>