<div class="mt-4">
    <h3>Đăng khóa học</h3>
    <form method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Tiêu đề</label>
            <input type="text" class="form-control" value="{{course.name}}" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <textarea class="form-control" id="description" name="description">{{course.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="image">ID video</label>
            <input type="image" class="form-control" value="{{course.image}}" id="image" name="image">
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Thêm khóa học</button>
    </form>
</div>